<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/style.css">
  <title>Login Page</title>
</head>
<body class="log-p">
  <header>
    <nav>
      <a href="{{ url_for('lands') }}" data-key="home-link" >terrain</a>
      <!-- <a href="Land-details.html">Browse Lands</a> -->
      <a href="{{ url_for('contact') }}" data-key="home-link" >Contact</a>
      <a href="/">Accueil</a>
      <!-- <img src="images/menue.jpg" class="menue" alt="Menue"> -->
    </nav>
  </header>
  
<br> <br> <br> <br> <br> <br> <br> <br> <br>
  <section class="login-page">
  <h2>se connecter</h2>
  <form action="" method="post" class="log-form">
    <input type="text" name="username" placeholder="Username" required><br>
     {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for category, message in messages %}

  <div id="flash-m" class="flash{{category}}">{{message}}</div>
  {% endfor %}
  {% endif %}
  {% endwith %} <br>
    <input type="password" name="password" placeholder="password" required> <br>
    <button type="submit">se connecte</button>
  </form>

 
</section>
  <script src="/static/main.js" defer></script>
</body>
</html>